@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "white.css";

:root {
	--r-main-font-size: 40px;
}

.reveal .controls {
	bottom: 35px;
	right: 0;
}

html .reveal {
	font-family: 'Open Sans', sans-serif;
}

html .reveal.overview {
	background-image: url(logo-devoxx-fr-2022.png), url(barre_bas_2022.png);
	background-position: .5rem .5rem, bottom right, bottom right;
	background-attachment: fixed;
	background-repeat: no-repeat, repeat-x;
	background-color: #FFF;
	background-size: 14rem, 14rem;
}

html .reveal {
	background-image: url(logo-devoxx-fr-2022.png), url(bandeau-v2-no-text-dvx_fr_2022.png), url(barre_bas_2022.png);
	background-position: .5rem .5rem, bottom right, bottom right;
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-attachment: fixed;
	background-color: #FFF;
	background-size: 14rem, 25rem, 14rem;
}

html.print-pdf .reveal .slides .pdf-page:first-of-type {
	background-image: url(logo-devoxx-fr-2022.png), url(bandeau-v2-no-text-dvx_fr_2022.png), url(barre_bas_2022.png) !important;
	background-position: .5rem .5rem, bottom right, bottom right !important;
	background-repeat: no-repeat, no-repeat, repeat-x !important;
	background-color: #FFF !important;
	background-size: 14rem, 25rem, 14rem !important;
}

html .reveal h1,
html .reveal h2,
html .reveal h3,
html .reveal h4,
html .reveal h5,
html .reveal h6 {
	font-family: 'Montserrat', sans-serif;
	color: #236148;
	text-transform: unset;
}

.reveal .code-wrapper {
	width: 100%;
	margin: 1rem 0;
}

.reveal code:not(.hljs) {
	background-color: #DDD;
}

.small {
	font-size: .6em;
}

.nl {
	display: block;
}
